<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>Jadwal Wakil Indonesia di French Open 2024 Hari Ini, Rabu 6 Maret</h2>

                <a href="">CNN Indonesia</a>
                <h6>Rabu, 06 Mar 2024 06:50 WIB</h6>

                <img src="../img/artikel1.jpeg" alt="Gambar Artikel">

                <p>Tangerang, CNN Indonesia -- Seluruh pasangan ganda putra Indonesia akan tampil hari ini dalam laga babak pertama French Open 2024 di Adidas Arena, Paris, Rabu (6/3).</p>

                <p>Pada hari pertama penyelenggaraan French Open 2024, Selasa (5/3), hanya ada lima wakil Indonesia yang berlaga. Sementara hari ini akan ada tujuh wakil yang bakal berupaya meraih tiket ke babak kedua atau babak 16 besar.</p>
                    
                <p>Sederet atlet-atlet ganda putra bakal turun bertanding. Menurut jadwal yang sudah disusun, Mohammad Ahsan/Hendra Setiawan akan menjadi ganda putra pertama Indonesia yang akan tampil. Ahsan/Hendra bakal bertemu wakil tuan rumah Lucas Corvee/Ronan Labar.</p>

                <p>Duel Leo/Daniel vs Lu/Yang bersamaan dengan jadwal tanding Rehan Naufal Kusharjanto/Lisa Ayu Kusumawati yang akan menghadapi unggulan kedua sektor ganda campuran asal Jepang Yuta Watanabe/Arisa Higashino.</p>
                
                <p>Kemudian Fajar Alfian/Muhammad Rian Ardianto ditantang Ben Lane/Sean Vendy dari Inggris. Fajar/Rian kemungkinan bakal tampil bareng bersama pasangan ganda putri Meilysa Trias Puspitasari/Rachel Allessya Rose yang berjumpa unggulan kedua ganda putri Baek Ha Na/Lee So Hee asal Korea Selatan.</p>

                <p>Setelah itu satu-satunya wakil tunggal putra yang bermain hari ini, Chico Aura Dwi Wardoyo, bakal bertemu Kodai Naraoka.</p>

                <p>Laga terakhir wakil Indonesia hari ini bakal dilakoni pasangan Muhammad Shohibul Fikri/Bagas Maulana yang akan melawan pasangan Taiwan Lee Jhe Huei/Yang Po Hsuan.</p>

                <p>Pertandingan French Open 2024 hari ini akan dimulai pada pukul 10.00 waktu setempat atau 16.00 WIB.</p>

                <p>Pada hari pertama French Open 2024, Indonesia telah memastikan tiga tiket ke babak kedua melalui Anthony Sinisuka Ginting, Gregoria Mariska Tunjung, dan Apriyani Rahayu/Siti Fadia Silva Ramadhanti.</p>
            </div>
        </div>

        <div id="sidebar">
            <h2>Who We Are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone Prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Nofi Cahyono &copy; 2024</p>
        </div>
    </div>
</body>
</html>