<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>

        <div id="content">
            <div class="artikel">
                <img src="../img/artikel1.jpeg" alt="Gambar Artikel">
                <h2>Jadwal Wakil Indonesia di French Open 2024 Hari Ini, Rabu 6 Maret</h2>
                <p>Seluruh pasangan ganda putra Indonesia akan tampil hari ini dalam laga babak pertama French Open 2024 di Adidas Arena, Paris, Rabu (6/3).</p>
                <a href="artikel1.html">Baca Selengkapnya ... </a>
            </div>

            <div class="artikel">
                <img src="../img/artikel2.jpeg" alt="Gambar Artikel">
                <h2>Daftar 2 Tim Lolos Perempat Final Liga Champions</h2>
                <p>Sebanyak dua tim sudah memastikan lolos ke perempat final Liga Champions. Mereka adalah Bayern Munchen dan Paris Saint Germain (PSG).</p>
                <a href="artikel2.html">Baca Selengkapnya ... </a>
            </div>

            <div class="artikel">
                <img src="../img/artikel3.jpeg" alt="Gambar Artikel">
                <h2>Harga Minyak Anjlok 1 Persen Tertekan Kekhawatiran dari China</h2>
                <p>Mengutip Reuters, harga minyak mentah berjangka Brent ditutup 76 sen atau 0,9 persen lebih rendah ke US$82,04 per barel. Penurunan ini merupakan yang keempat hari secara berturut-turut</p>
                <a href="artikel3.html">Baca Selengkapnya ... </a>
            </div>
        </div>

        <div id="sidebar">
            <h2>Who We Are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone Prodi KA yang sedang belajar membuat website portal sederhana menggunakan bahasa pemrograman HTML.</p>

            <h2>Artikel Berdasarkan Kategori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Nofi Cahyono &copy; 2024</p>
        </div>
    </div>
</body>
</html>